*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
a{
    color: #0B4EAA;
}
.text-primary{
    color: #0B4EAA;
}
body{
    position: relative;
}
.spear-header-section{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.spear-header-section img#spear-background{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
.nav-bar-top{
    position: fixed;
    top: 0;
    padding: 20px;
    background-color: #FFFFFF;
    /* background-color: rgba(255, 255, 255,.8); */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 15000000;
    box-shadow: 2px 2px 4px rgba(31,31,31,.2);
}
.nav-bar-top .logo-secction{
    height: 40px;
    width: 150px;
}
.nav-links ul{
    padding: 0 !important;
    margin: 0 !important;
}
.nav-links ul li{
    list-style: none;
    display: inline;
    padding: 20px;
    width: 100%;
    transition: 0.75s ease-in;
}
img{
    object-fit: cover;
}
.nav-links ul li a:hover{
    color: #F15A30;
}
ul li.active a{
    color: #F15A30 !important;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 20px;
}
.welcome-text-section{
    position: absolute;
    top: 30%;
    color: #FFFFFF;
    width: 70%;
    margin: auto;
}
.welcome-text-section h1{
    font-size: 60px !important;
}
.welcome-text-section p{
    font-size: 24px !important;
}
.welcome-text-section form{
    display: flex;
}
.welcome-text-section form input{
    border-radius: 0;
    height: 45px;
}
.welcome-text-section form #search-button{
    width: 100px;
}
.header-text{
    position: relative;
}
.header-text::before{
    position: absolute;
    bottom: 0;
    /* height: 20px; */
    width: 100px;
    content: "";
    border-bottom: 4px solid #F15A30;
    /* background-color: #0B4EAA; */
}
#adventure-activities{
    height: 50vh;
    background-image: url(../../images/background-3.jpg);
    background-size: cover;
    color: #FFFFFF;
}
.adventure-activities-full{
    position: relative;
    height: auto;
}
.adventure-card-container{
    position: relative;
    /* top: 40%; */
}
.close-chevrons{
    position: absolute;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 15px;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0B4EAA;
    color: #FFFFFF;
}
.close-first{
    right: 0;
    left: unset;
}
.close-last{
    left: 0;
    right: unset;
}
#adventure-card-containers{
    display: none;
}
#adventure-cards{
    /* position: absolute; */
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translateY(-100px);
}
#adventure-cards img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.slider-card{
    width: 250px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}
.slider-card:hover{
    box-shadow: 3px 3px 6px rgba(31,31,31,.2);
}
.slider-card{
    position: relative;
    transition: 0.75s;
}
.slider-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.over-lay{
    position: absolute;
    width: 100%;
    background-color: rgba(31,31,31,.6);
    height: 100%;
    padding: 20px;
    color: #FFFFFF;
    opacity: 0;
}
.slider-card:hover .over-lay{
    opacity: 1;
}
#about-container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.most-visited-places{
    height: 100vh;
    display: flex;
    align-items: center;
}
.row#most-visisted-places .col-sm-4{
    position: relative;
    height: 50vh;
    color: #FFFFFF;
}
.row#most-visisted-places img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.place-name{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.places-headers{
    width: 70%;
    margin: auto;
    text-align: center;
}
.why-book-with-us{
    background-image: url(../../images/background-3.jpg);
    background-position: center;
    height: 80vh;
    background-attachment: fixed;
}
.full-width-card{
    display: flex !important;
    align-items: center !important;
}
#small-background{
    height: 100%;
    background-color: transparent;
    color: #FFFFFF;
    width: 40%;
}
#big-background{
    height: 80vh;
    background-color: #FFFFFF;
    display: flex !important;
    align-items: center !important;
    width: 60%;
}
.flex-reasons-section{
    display: flex;
}
.important-content{
    width: fit-content;
    height: fit-content;
}
.important-content .col-sm-6,.important-content .col-sm-4{
    display: flex;
}
.check-icons{
    color: #0B4EAA;
    font-size: 50px;
    margin-right: 15px;
}
.counter-section{
    background: transparent;
    transform: translateY(-70px);
}
.counter-section .container{
    background-color: unset;
    height: fit-content;
    border-radius: 5px;
    /* box-shadow: 3px 3px 6px rgba(31,31,31,.4); */
}
.col-sm-3 .card,.col-sm-3 .card-header{
    border: none;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0;
}
.col-sm-3 .card:hover{
    background-color: #ffffffef;
}
.col-sm-3 .card:last-child{
    border: none;
    border-left: 1px solid #ffffffef;
}
.footer-section{
    background-color: #000000;
    background-color: #262626;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23262626'/%3E%3Cstop offset='1' stop-color='%23262626'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23262626' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23262626' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    color:#ebebebcc;
}
.footer-section ul li{
    list-style: none;
}
.footer-section ul li a{
    text-decoration: none;
    color:#ebebebcc;
}
.footer-section ul{
    padding-left: 0;
}
.footer-section .form-group{
    margin-bottom: 15px;
}
.footer-section #useremail{
    background-color: inherit;
}
.menu-bars{
    display: none;
}
/* responsive navbar */
@media screen and (max-width: 921px){
    .menu-bars{
        display: block;
        font-size: 40px;
    }
    .nav-links{
        display: none;
        position: absolute;
        right: 0;
        top: 100px;
        background-color: #ffffffef;
        width: 100%;
        text-align: right;
        z-index: 1208;
    }
    .nav-links ul li{
        display: block;
    }
    .counter-section{
        transform: translateY(0);
        height: fit-content;
    }
    .counter-section .container{
        background-color: unset;
        height: fit-content;
        border-radius: 0;
        box-shadow: unset;
    }
    .adventure-activities-full{
        position: unset;
        height: fit-content;
    }
    #carouselExampleControls,#adventure-card-containers{
        position: unset;
        width: 100%;
        margin: auto;
    } 
    #adventure-cards{
        /* position: absolute; */
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 15px;
    }   
    .slider-card{
        width: 100%;
        height: 400px;
        overflow: hidden;
        border-radius: 0 !important;
        box-shadow: unset;
        background-color: #FFFFFF;
        margin-bottom: 10px;
    }
    .slider-card img{
        border-radius: 0 !important;
    }
    #adventure-activities{
        min-height: 50vh;
        background-image: url(../../images/background-3.jpg);
        background-size: cover;
        color: #FFFFFF;
    }
    .most-visited-places,.why-book-with-us,#about-container,.footer-section{
        height: fit-content;
    }
    .most-visited-places{
        margin-bottom: 15px;
    }
    .flex-reasons-section{
        display: block;
    }
    #small-background,#big-background{
        width: 100%;
        height: fit-content;
    }
    .welcome-text-section{
        position: absolute;
        top: 20%;
        color: #FFFFFF;
        width: 90%;
        margin: auto;
    }
    .welcome-text-section h1{
        font-size: 40px !important;
    }
    .row#most-visisted-places .col-sm-4{
        position: relative;
        height: 400px;
        color: #FFFFFF;
    }
    #small-background{
        height: 40vh;
    }
    /* .counter-section .container .row{
        display: flex !important;
        align-items: center !important;
    } */
}

#mission_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.our-objective-section{
    height: 100vh;
    background-image: url(../../images/african-lions.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    overflow: hidden;
}
#white-big-bg{
    background-color: #FFFFFF;
    height: 100vh;
}
#black-big-bg{
    background-color: rgba(31,31,31,.4);
    height: 100vh; 
}
#small-background .important-content{
    height: 8vh;
    display: flex;
    align-items: center;
}
/* about media query */
@media screen and (max-width: 921px){
    .our-objective-section{
        height: fit-content;
    }
    #about-header{
        height: 70vh !important;
        overflow-y: hidden;
    }
    #booking-travel-booking .booking-model{
        width: 70%;
        overflow: auto;
    }
}
.col-sm-7 form .form-group{
    margin-bottom: 15px;
}
.col-sm-7 form .form-group textarea{
    height: 100px;
    resize: none;
}
.image-section{
    height: 150px;
    width: 100%;
    position: relative;
}
.image-section img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: cover;
}
.place-deils{
    padding: 10px;
}
.place-deils .col,.place-deils .col a{
    font-size: 14px !important;
    text-decoration: none;
    color: #262626;
}
.view-details{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 12;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(31,31,31,.6);
    opacity: 0;
    transition: 0.75s ease-out;
}
.image-section:hover .view-details{
    opacity: 1;
}
.view-details .btn{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin: auto;
    border-radius: 0;
    cursor: move;
    font-size: 14px;
}
.place-deils .col-sm-12 button.btn{
    border: none;
    border-radius: 0;
    color: #FFFFFF !important;
    background-color: #262626 !important;
    font-size: 14px;
}
.booking-travel-booking{
    position: fixed;
    top:0;
    height: 100vh;
    width: 100%;
    background-color: rgba(31,31,31,.6);
    /* display: flex; */
    align-items: center;
    z-index: 10000;
    display: none;
}
.booking-travel-booking .form-group{
    margin-bottom: 10px;
}
.booking-travel-booking .booking-model{
    width: 40%;
    margin: auto;
    background-color: #FFFFFF;
}
.booking-travel-booking form{
    padding: 20px;
}
.model-footer{
    padding: 10px 20px 10px 20px;
    border-top: 1px solid #ebebebcc;
    text-align: right;
}
.counter-section .card{
    background-color: #F15A30;
    color: #FFFFFF;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.counter-section .card:hover{
    background-color: #F15A30;
    color: #FFFFFF;
}
.card-body{
    font-size: 30px;
}
.service-counter .col-sm-3{
    background-color: #0B4EAA;
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
}