*{
    transition: 0.75s ease-in;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav .btn:hover{
    color: #FFFFFF;
}
nav{
    padding-left: 5%;
    padding-right: 5%;
}
.spear-header-slider{
    height: 100vh;
    position: relative;
}
.image-sliders{
    position: absolute;
    width: 100%;
    height: 100vh;
}
.page-logo{
    width: 150px;
    height: 50px;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
nav .navbar{
    display: flex;
    justify-content: space-between;
}
.manu-left{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.menu-section{
    position: relative;
}
.menu-list{
    position: absolute;
    top: 100%;
    width: fit-content;
    min-width: 350px;
    background-color: #FFFFFF;
    align-items: center;
    display: none;
}
.menu-list ul{
    padding: 0;
    height: 100%;
    /* margin-top: 10px; */
}
.menu-list ul li{
    list-style: none;
    display: inline;
    padding: 10px 15px 10px 15px;
}
.menu-list ul li a{
    text-decoration: none;
}
nav .btn{
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    outline: none;
}
#dropdown{
    position: relative;
}
#main-dropdown{
    display: none;
}
#dropdown:hover #main-dropdown{
    display: block;
}
#dropdown ul li{
    list-style: none;
    display: block;
    padding: 5px;
}
#dropdown ul{
    /* position: absolute; */
    top: 98%;
    left: 0;
    min-width: 200px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}
#dropdown ul li a{
    text-decoration: none;
}
.menu-section button{
    border: none;
}
.menu-section button:hover .menu-list{
    display: block;
}
.black-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(31,31,31,.3);
}
/* end navbar */
.top-select-section{
    width: fit-content;
    margin: auto;
}
.top-select-section button{
    border: none;
    border-radius: 0;
    font-weight: 900;
    color: #FFFFFF;
    height: 50px;
    text-transform: uppercase;
}
.top-select-section button.active{
    border-bottom: 5px solid #F15A30;
    color: #FFFFFF;
    background-color: #0B4EAA;
}
.top-select-section button:hover{
    color: #FFFFFF;
    background-color: #0B4EAA;
}
.bookings-cards{
    width: 100%;
    background-color: #0B4EAA;
    color: #FFFFFF;
}
.bookings-cards .form-group{
    margin-bottom: 10px;
}
.bookings-cards .form-control{
    border: 1px solid #FFFFFF;
    border-radius: 0;
    background-color: inherit;
    color: gainsboro;
}
.bookings-cards .btn{
    border: none;
    border-radius: 0;
    background-color: #F15A30;
    color: #FFFFFF;
    height: 40px;
}
#hotelbooking,
#hajjumrah,
#visaasistant{
    display: none;
}
.full-services-details{
    background-color: #FFFFFF;
}
.flex-dets{
    display: flex;
    align-items: center;
}
.flex-dets .icons{
    font-size: 25px;
    height: 50px;
    width: 50px;
    border: 1px solid #dcdcdc;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-radius: 50%;
    background-color: #dcdcdc;
}
.flex-dets .name{
    font-weight: 500;
    margin-left: 15px;
}
.full-services-details a{
    text-decoration: none;
    color: #161616;
}
.booking-info-section{
    position: absolute;
    bottom: 0;
    width: 100%;
}